# Created by .ignore support plugin (hsz.mobi)
.idea/cloud-native-bank.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
ci-cd/secrets.yml